/* CSS Document */
body{background-color: cornflowerblue;}

h1{background-color: lightgray;}

p{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";}

ul li {display: inline;margin-left: 20px;}